 /*
  Nathaniel Pownell
  01/31/2021
  about.html 
*/

/* CSS RESET */

*{
  font-family: sans-serif;
}

header, body, nav, footer {
	padding: 0;
	margin: 0;
	}
/* Image styling */
img {
  max-width: 100%;
  display: block;
}
/*header styling*/

header {
  color: #3e2f1b;
  padding: 3%;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

/* body styling */

body {
  background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.2"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

/* NAV styling */

nav {
  background-color: #0405;

}

nav ul {
  justify-content: space-between;
  display: flex;

}

nav ul li {
  display: inline-block;
  padding-top: 1%;
  padding-bottom: 1%;

}

nav ul li a {
  text-align: center;
  text-decoration: none;
  color: #020409;
}

/*Footer styling*/

footer {
  text-align: center;
  color: #3e2f1b;
}
